<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.focusstartrssreader">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".RssFeedApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeLight"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.activity.add.AddNewFeedActivity"
            android:parentActivityName=".ui.activity.add.AddActivity">
        </activity>
        <activity
            android:name=".ui.activity.detail.FeedDetailActivity"
            android:parentActivityName=".ui.activity.main.MainActivity" />
        <activity
            android:name=".ui.activity.add.AddActivity"
            android:label="@string/add_activity"
            android:parentActivityName=".ui.activity.main.MainActivity" />
        <activity
            android:name=".ui.activity.settings.SettingsActivity"
            android:label="@string/settings_activity"
            android:parentActivityName=".ui.activity.main.MainActivity" />
        <activity
            android:name=".ui.activity.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="https"/>
                <data android:scheme="http"/>
                <data android:host="*"/>
                <data android:pathPattern=".*xml.*"/>
                <data android:pathPattern=".*feed.*"/>
                <data android:pathPattern=".*rss.*"/>
                <data android:pathPattern=".*rss"/>
                <data android:pathPattern=".*news.*"/>
            </intent-filter>
        </activity>

        <service
            android:name=".service.service.FetchFeedService"
            android:exported="false" />
    </application>

</manifest>